documentation/Project Description/description.aux
documentation/Project Description/description.bbl
documentation/Project Description/description.blg
documentation/Project Description/description.pdf
documentation/Project Description/description.synctex.gz
documentation/Carbon/carbon.aux
documentation/Carbon/carbon.pdf
presentations/Initial Presentation/Inital Presentation.pdf
documentation/Carbon/carbon.synctex.gz
